.welcome_buttons
{
  width: 100px;
  height: 50px;
  background: gray;
  color: white;
  margin: 50px;
}

.welcome_container
{
  text-align: center;
}

#login_form
{
  display: none;
}

#register_form
{
  display: none;
}

body
{
  background: cyan;
}


